install requirements 
for nikto
sudo apt-get install nikto
for Nmap
sudo apt-get install nmap
for SQLmap
sudo apt-get install sqlmap
for gobuster
sudo apt-get install gobuster
for owasp zap
sudo apt install zaproxy
pip install python-owasp-zap-v2.4 zap-cli
